<%= form_tag datasetones_path, :method => :get do %>
  <div class="input-prepend" style=" float: left; padding-right: 10px;">
  	<span class="add-on">Date</span>
		 <%= text_field_tag :date, params[:date], :placeholder => 'Select a date', :id => 'datepicker', :autocomplete => 'off' %>
	</div>
 
	<div class="input-prepend" style=" float: left; padding-right: 10px;">
      <span class="add-on">Place</span>
      <% 	if params[:search]
      			placeholder = params[:search]
      		else
      			placeholder = 'Search for a city or country'
	    		end %>
      <%= text_field_tag :search, params[:search], :placeholder => placeholder, :id => 'prependedInput', :autocomplete => 'autocomplete_stations_address_path' %>
  </div>
    <%= submit_tag "Search", :name => nil, :class => 'btn primary' %>
<% end %>