pi<div class="modal-backdrop fade in"></div>
<div id="chart-modal" class="modal hide fade in" style="display: block; ">
  <div class="modal-header">
    <a href="#" class="close" id="close">×</a>
    <h3><%= link_to "#{@station.city.capitalize}, #{@station.country.capitalize}", @station %></h3>
  </div>
  <div class="modal-body">
    <p> <%= render 'realtimechart' %> <p>
    <div id="temperature_chart" style="width:500px; height:300px;"></div>
  </div>
    <div class="modal-footer">
    <p>Average cloudcoverage calculated each minute</p>
  </div>
</div>