<div class="modal-backdrop fade in"></div>
<div id="chart-modal" class="modal hide fade in" style="display: block; ">
  <div class="modal-header">
    <a href="#" class="close" id="close">×</a>
    <h3><%= "#{@station.city.capitalize}, #{@station.country.capitalize}" %></h3>
  </div>
  <div class="modal-body">
    <p> <%= render 'chart' %> <p>
    <div id="temperature_chart" style="width:500px; height:300px;"></div>
  </div>
    <div class="modal-footer">
    <p> Last measument: <%= time_ago_in_words(@measurement.date) %> ago </p>
  </div>
</div>