<% title "Dataset 3" %>

<%= link_to "Download as XML", :datasetthree_to_xml, :class => "btn", :style => "float: right; margin-top: -50px; /*lol haxx*/" %>

<%= gmaps4rails(@json) %>

<div id="chart-container"></div>


<script>
	function getChart(station_id) {
		$('#chart-modal').modal('show');
		var url = 'load_chart?station_id='+ station_id;
		var new_html = "<a href='#' data-controls-modal='chart-modal'>Show chart</a>"
		$('#chart-container').load(url, function() {
		});
	}
</script>